.player-container{
  // height: 100%;
  position: relative;
}
.player {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: #636363;
  display: none;
  transform-origin: 0 bottom;

  &.player-rotate-enter {
    transform: rotateZ(90deg);
    &.player-rotate-enter-active {
      transition: transform 0.3s;
      transform: rotateZ(0deg);
    }
  }

  &.player-rotate-exit {
    transform: rotateZ(0deg) translate3d(0, 0, 0);
    &.player-rotate-exit-active {
      transition: all 0.3s;
      transform: rotateZ(90deg) translate3d(100%, 0, 0);
    }
  }

  .header {
    position: fixed;
    width: 100%;
    height: 55px;
    line-height: 55px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    display: flex;
    .header-back {
      padding-left: 20px;
    }
    .header-middle {
      display: flex;
      flex-direction: column;
      line-height: initial;
      font-size: 15px;
      padding: 10px;
      text-align: left;
    }
  }

  .player-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    margin: -35px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: blur(20px);
    opacity: 0.4;
    transform: translate3d(0, 0, 0);
    transition: background-image 0.3s;
  }
  .singer-top {
    margin-top: 70px;
    text-align: center;
    .singer {
      height: 16px;
      overflow: hidden;
      text-align: center;
      .singer-name {
        display: inline-block;
        position: relative;
        &:before,
        &:after {
          content: '';
          width: 15px;
          position: absolute;
          top: 50%;
          border-top: 1px solid #ffffff;
          &:before {
            left: -20px;
          }
          &:after {
            right: -20px;
          }
        }
      }
    }
  }

  .singer-middle {
    position: absolute;
    top: 100px;
    bottom: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .singer-img {
      width: 260px;
      height: 260px;
      border-radius: 50%;
      border: 8px solid rgba(221, 221, 221, 0.3);
      .rotate{
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
        -webkit-animation: rotate 7s linear infinite;
        -moz-animation: rotate 7s linear infinite;
        -o-animation: rotate 7s linear infinite;
        animation: rotate 7s linear infinite;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      &.rotate {
        animation: rotate 15s linear infinite;
      }
    }
  }

  .singer-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    .controller-wrapper {
      padding: 0 30px;
      .progress-wrapper {
        display: flex;
        align-items: center;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        font-weight: 400;
        .current-time,
        .total-time {
          width: 40px;
        }
        .current-time {
          text-align: left;
        }
        .total-time {
          text-align: right;
        }
        .play-progress {
          flex: 1;
        }
      }
      .play-wrapper {
        display: flex;
        margin-top: 10px;
        color: #fff;
        text-align: center;
        align-items: center;
        div {
          flex: 1;
        }
      }
    }
  }
}
@-webkit-keyframes rotate{from{-webkit-transform: rotate(0deg)}
to{-webkit-transform: rotate(360deg)}
}
@-moz-keyframes rotate{from{-moz-transform: rotate(0deg)}
to{-moz-transform: rotate(359deg)}
}
@-o-keyframes rotate{from{-o-transform: rotate(0deg)}
to{-o-transform: rotate(359deg)}
}
@keyframes rotate{from{transform: rotate(0deg)}
to{transform: rotate(359deg)}
}