.progress-bar {
  position: relative;
  width: 235px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.3);
  .progress,
  .progress-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  .progress {
    z-index: 2;
    background-color: #d5d5d6;
  }
  .progress-button {
    width: 14px;
    height: 14px;
    border: 2px solid #d5d5d6;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #d5d5d6;
    z-index: 3;
    margin-left: -5px;
    top: 50%;
    transform: translateY(-50%);
  }
}
