.page_wraper {
  height: 100%;
  padding-top: 54px;
  background: #eee;
}

.topList_wraper {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  color: #afafaf;
  border-bottom: 1px solid #f3f4f6;
  background: #fff;
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    .iconBg {
      width: 45px;
      height: 45px;
      background: linear-gradient(to right, #ff5a4c, #ff1d12);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      margin-bottom: 9px;
      .icon {
        font-size: 22px;
        font-weight: bold;
      }
    }
  }
}

.menu_wraper {
  background: #fff;
  .item {
    display: flex;
    padding: 13px 0px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    margin: 0 20px;
    align-items: center;
    .right {
      display: flex;
      padding-left: 15px;
      .number {
        color: #c3c3c3;
        padding-left: 5px;
      }
    }
  }
}

.playList_wraper {
  margin-top: 6px;
  background: #fff;
  padding: 13px;
  height: 100%;
  .item{
    padding: 5px 0px
  }
  .item_head {
    display: flex;
    justify-content: space-between;
    color: #000;
    font-weight: bold;
  }
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      font-size: 16px;
      padding-left: 5px;
      color: #333;
      .total {
        color: rgb(136, 136, 136);
        font-size: 14px;
        padding-left: 5px;
        font-weight: initial;
      }
    }
  }
}

.drawer_wraper {
  margin: 5px 0px;
  overflow: hidden;
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: height 0.2s ease-out, -webkit-transform 0.2s ease-out;
    padding: 5px 0px;
  }
  .info_left {
    display: flex;
    justify-content: center;
    align-items: center;
    .bg {
      background: #383838;
      height: 60px;
      width: 60px;
      border-radius: 5px;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      img{
        width: 100%;
      }
      .icon {
        font-size: 37px;
        color: #fff;
      }
    }
    .title {
      font-size: 15px;
      color: #575757;
    }
    .total {
      color: #999;
      padding-top: 5px;
    }
  }
  .moreIcon{
    font-size: 23px;
    color: #868686;
    font-weight: bold;
  }
  button {
    background: none;
    border: 1px solid #c3c3c3;
    padding: 5px 8px;
    font-size: 12px;
    border-radius: 22px;
    span {
      padding-left: 5px;
    }
  }
}
.ownClose {
  height: 0;
}
.otherClose {
  height: 0;
}