.page_wraper {
  height: 100%;
  padding-top: 55px;
  background: #eee;
}

.topList_wraper {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  color: #afafaf;
  border-bottom: 1px solid #f3f4f6;
  background: #fff;
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    .iconBg {
      width: 45px;
      height: 45px;
      background: linear-gradient(to right, #ff5a4c, #ff1d12);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      margin-bottom: 9px;
      .icon {
        font-size: 22px;
        font-weight: bold;
      }
    }
  }
}

.menu_wraper {
  background: #fff;
  .item {
    display: flex;
    padding: 13px 0px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    margin: 0 20px;
    .right {
      display: flex;
      padding-left: 20px;
      .number {
        color: #c3c3c3;
        padding-left: 5px;
      }
    }
  }
}
