.header {
  width: 100%;
  background: #ffffff;
  color: #8597A1;
  line-height: 50px;
  padding: 0 16px;
  position: fixed;
  z-index: 99;
.title{
  padding-left: 10px;
  display: inline-block;
  color: #000;
  font-size: 17px;
}
  &-left,
  &-right {
    width: 50%;
    display: inline-block;
  }

  &-left {
    font-size: 16px;
  }

  &-title {
    text-align: center;
    font-size: 18px;
    white-space: nowrap;
  }

  &-right {
    text-align: right;
    font-size: 16px;
  }
}
