.header_wraper {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: #fff;
  .icon {
    font-size: 20px;
  }
  .left,
  .right {
    width: 20%;
  }
  .right {
    text-align: right;
  }
  .middle {
    width: 55%;
    justify-content: space-between;
    display: flex;
    font-size: 16px;
    color: #868686;
    align-items: flex-end;
  }
  .active {
    font-size: 18px;
    color: #3a3a3a;
    font-weight: bold;
  }
}

.drawer_wraper {
  height: 100%;
  position: absolute;
  width: 60%;
  background: #eee;
  z-index: 1;
  
}
