@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.App {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;/*修复在Safari里button flex布局的bug*/
  flex-direction: column;
  justify-content: space-between;
  /* color: #fff; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: red;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.test {
  font-size: 30px;
  color: red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.am-list-item .am-input-control::after{
  background-color: #fff !important;
}
