.menu_wraper {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #f7f7f7;
  .item {
    margin: 5px 21px;
    position: relative;
    img {
      width: 100%;
    }
    .title {
      color: #575757;
      padding-top: 6px;
      text-align: center;
      font-size: 12px;
    }
    .date {
      position: absolute;
      left: 50%;
      top: 39%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      font-weight: bold;
    }
  }
}

.block_list_wraper {
  padding: 15px 5px;
  .title {
    font-size: 16px;
    font-weight: bold;
  }
  .button {
    padding: 4px 12px;
    border-radius: 15px;
    font-size: 12px;
    background: #fff;
    border: 1px solid #d4d4d4;
    color: #484848;
  }
  .line {
    padding: 0 7px;
    font-size: 14px;
    color: #eee;
  }
  .sub_title{
    color: #999;
  }
  .main {
    display: flex;
    flex-wrap: wrap;
  }
}
